#img-header {
  max-height: 150px !important;
}

.navbar {
  background-color: #5b2c6f !important;
}

.text-img {
  position: absolute;
  top: 90%;
  background-color: #fefefe;
  width: 100%;
  opacity: 80%;
}

.btn-purple {
  background-color: #5b2c6f !important;
  color: #ffffff !important;
}

.footerPage {
  background-color: #00155b;
  color: #ffffff;
}

.horizontal-scrollable > .row {
  overflow-x: auto;
  white-space: nowrap;
}
