#img-header {
  height: 200px;
}

.navbar {
  background-color: #8e44ad !important;
}

.text-img {
  position: absolute;
  top: 90%;
  background-color: #fefefe;
  width: 100%;
  opacity: 80%;
}

.btn-purple {
  background-color: #8e44ad !important;
  color: #ffffff !important;
}

.footerPage {
  background-color: #00155b;
  color: #ffffff;
}
